.container {
  display: flex;
  min-height: 100px;
  width: 500px;
}

.content {
  width: 100%;
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(117, 117, 117);
  align-self: center;
  text-align: center;
}

.message {
  width: 100%;
  margin-bottom: 10px;
}
